<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.beyondsw.widget">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activity.CardFragment"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--反射练习-->
        <activity
            android:name=".activity.ClassTextActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".swipecard.CardSwipeActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.RippleSpreadTestActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.TodayDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Detail" />


        <activity android:name="uitransition.MainActivity"/>

        <activity
            android:name="uitransition.ui_trasition.ImageActivity"
            android:theme="@style/AppTheme.Main" />
        <activity
            android:name="uitransition.ui_trasition.DetailActivity"
            android:theme="@style/AppTheme.Detail" />

        <activity android:name="uitransition.manual_transition.AnimeActivity" />

        <activity
            android:name="uitransition.manual_transition.AnimeDetailActivity"
            android:theme="@style/AppTheme.AnimeDetail" />

        <activity
            android:name="uitransition.TestActivity"
            android:theme="@style/AppTheme.TodayFateDetails"/>

    </application>

</manifest>